

.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.text-center{
  text-align: center;
}

/* body styles */
.body-bg{
  background-color: hsla(242, 100%, 64%, 0.05);
}

/* header */
.header{
  background-image: url(../Assets/Hero-bg.png);
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}



.btn-primary{
  background-color: #4E47FF;
  font-weight: 700;
  color: white;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

.nav-title{
  font-weight: 900;
  font-size: 34px;
  color: #4E47FF;
}

nav ul li{
  list-style: none;
}


nav li a{
  text-decoration: none;
  font-size: 16px;
}

/* banner styles */

.banner-content{
  max-width: 905px;
  margin: 152px 152px;
  padding-bottom: 152px;
  justify-items: center;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}

.btn-banner{
  display: flex;
}

.banner{
  justify-items: center;
}

/* main style */
.main{
  max-width: 1140px;
  margin: 0px auto;
}


/* see it in action */

.section-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}


.see-it-in-action-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.see-it-in-action-img{
  border-radius: 48px;
}

.see-it-in-action-p{
  font-size: 24px;
  color: #252432;
  opacity: 50%;
}

.see-it-in-action-content{
  max-width: 517px;
}


/* Joined-Thousands-of-Productive-Users */

.Joined-Thousands-of-Productive-Users{
  background-color: hsla(242, 100%, 64%, 0.1);
  border-radius: 24px;
  padding: 50px 80px;
  text-align: center;
  margin-top: 130px;
}

.Joined-Thousands-of-Productive-Users-items{
  display: flex;
  justify-content: space-around;
}

.item-title{
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin: 0px;
}

.item-description{
  font-size: 20px;
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.5);
  margin: 0px;
}


/* What-our-users-say */

.What-our-users-say{
  margin-top: 130px;
}

.review-box{
  background-color: rgba(255, 255, 255, 0.66);
  border-radius: 14px;
  max-width: 366.67px;
}

.box-contents{
  padding: 24px;
}

.avatar{
  border-radius: 9999px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 12px;
}

.reviewer-details{
  display: flex;
  align-items: center;
}

.Reviewer-name{
  margin: 0px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.632);
  font-size: medium;
}

.date{
  margin: 0px;
  padding: 0px;
  font-size: small;
  color: hsla(0, 0%, 0%, 0.468);
}

.review-description{
  margin-top: 8px;
  padding: 0px;
}

.review-title{
  margin: 0px;
}

.review-content{
  margin-top: 24px;
  margin-bottom: 24px;
}

.reviews-container{
  display: flex;
  justify-content: space-around;
}

/* Ready-to-focus-better */

.Ready-to-focus-better{
  max-width: 1140px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 14px;
  padding: 71px 100px;
}


.Ready-to-focus-better-title{
  font-size: 50px;
  font-weight: bold;
}

.Ready-to-focus-better-img{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 840px;
  border-radius: 48px;
}


.Ready-to-focus-better-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Ready-to-focus-better-title{
  margin: 0px;
}

.Ready-to-focus-better-p{
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.66);
}


/* Lets-Get-in-Touch */

.Lets-Get-in-Touch{
  margin-top: 130px;
}

.Lets-Get-in-Touch-contents{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Lets-Get-in-Touch-title{
  margin-top: 130px;
  font-size: 98px;
  font-weight: bold;
}

.input-field{
  display: block;
  width: 497px;
  background-color: white;
  border-radius: 10px;
  border-color: #D6DDED;
  border-width: 1px;
  padding: 32px 20px;
  margin-bottom: 20px;
}

.input-title{
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn-form{
  width: 540px;
  height: 60px;
}